*.iml
*.ipr
*.ids
*.iws
.idea/
.vscode/
bin/
.project
.metadata
local.properties
.classpath
.settings/
.loadpath
manifest*
Docker*

target/

.gradle
gradlew.bat
gradle/
build/

*.log*
/classes/

.DS_Store

#concourse
credentials.yml
credentials.yaml
tekton/pipeline.yml

.java-version
